@font-face {
  font-family: "Anonymous_Pro";
  src: url('./assets/fonts/Anonymous_Pro/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VT323";
  src: url('./assets/fonts/VT323/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tomorrow";
  src: url('./assets/fonts/Tomorrow/Tomorrow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Might use this for black bg alternative rgb(24, 15, 15) */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Tomorrow", monospace;
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: 1fr 1fr 1fr;
}

#astrotrackerContainer {
  grid-column: 1;
}

#radarContainer {
  grid-column: 1;
  grid-row: 2 / 4;
}

#terminalContainer {
  grid-column: 3;
  grid-row: 1 / 4;
  width: 500px;
  height: 100%;
}

#terminalScreen {
  height: 100%; 
  display: flex;
  flex-direction: column;
}

#shipControlsContainer {
  grid-column: 2 / 3;
  grid-row: 3;
}

#shipDirectionHudContainer {
  position: absolute;
  z-index: 1;
}

#shipDirectionHud {
  position: absolute;
}

#shipDirectionPointer {
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  top: 15px;
  left: 15px;
}

#shipDirection {
  position: absolute;
  left: 38px;
  top: 3px;
}

#radarScreenContainer {
  width: 400px;
  height: 400px;
  /* overflow: hidden; */
  position: relative;
  color: rgb(1, 203, 1);
  font-weight: 900;
  font-size: 12px;
}

#topRightRadarInfo {
  position: absolute; 
  z-index: 1;
  top: 3px;
  right: 15px;
  min-width: 80px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#topRightRadarInfo p {
  min-width: 50px;
}

#bottomLeftInfo {
  position: absolute;
  z-index: 1;
  bottom: 18px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}

#bottomLeftInfo p {
  margin: 0;
}

#VOD {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 5px;
  height: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

canvas {
  background-color: black;
  transform-origin: 0 0;
}

#terminalOutput {
  flex: 1;
  overflow-y: auto; /* Vertical scrolling */
  word-wrap: break-word;
  padding: 5px 20px 10px 20px;
  position: relative;
  background-color: black;
  color: rgb(1, 203, 1);
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}

.terminal-output {
  margin: 0;
  margin-bottom: 5px;
}

.terminal-output::before {
  position: absolute;
  left: 10px;
  content: ">";
}

#astrotrackerDisplay {
  overflow: auto;
  height: 350px;
}

.scanned-obj-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.scanned-obj-name {
  margin-right: auto;
}

button.active {
  background-color: rgb(170, 255, 0);
}

.centered-text {
  text-align: center;
}

/* CARGO MON */

#cargoContainer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 423px;
}

#cargoContainer .item-container {
  display: flex;
}

#cargoContainer img.item-img {
  width: 30px;
}

#droneCargoDisplay {
  overflow: auto;
}

/* DRONE BAY */

#dronesDisplay .drone-wrapper.deployed::before {
  content: "deployed";
}